[submodule "jenga"]
	path = jenga
	url = git@github.com:sneezeburger/jenga.git
[submodule "tr-808"]
	path = tr-808
	url = git@github.com:sneezeburger/tr-808.git
[submodule "tb-303"]
	path = tb-303
	url = git@github.com:sneezeburger/tb-303.git
[submodule "reapearth"]
	path = reapearth
	url = git@github.com:sneezeburger/reapearth.git
[submodule "atc"]
	path = atc
	url = git@github.com:sneezeburger/atc.git
